<div id="card-angular" class="card">
    <div class="con-flex">
        <img src="assets/arbol2.jpg">
    </div>
    <h1>Este es el título</h1>
    <h2>Este es el subtítulo</h2>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <br><br>

    <a href="https://angular.io/" target="_blank">Documentación</a>

    <br><br>

    <button>Action 1</button>&nbsp;&nbsp;&nbsp;
    <button>Action 2</button>
    <br><br> 
    <input type="radio" name="opcion" value="si">Sí
    <input type="radio" name="opcion" value="no">No
</div>