<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="peliculasMap" class="java.util.HashMap">
		<constructor-arg>
			<map key-type="java.lang.Integer"
				value-type="com.sopra.java.model.entities.Pelicula">
			</map>
		</constructor-arg>
	</bean>

	<bean id="gestorPeliculas"
		class="com.sopra.java.model.business.GestorPeliculas"
		scope="singleton">
	</bean>

	<bean id="miDAOPelis"
		class="com.sopra.java.model.dao.PeliculasDAOImpl" scope="singleton">
		<constructor-arg ref="peliculasMap">
		</constructor-arg>
	</bean>

</beans>
